/
<!DOCTYPE html>
<html>

<head>
  <title>veridol</title>
  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="../css/home.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- scripts -->
  <script type="text/javascript" src="../scripts/home.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#section1">Launch</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapsible">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#section2.5">Login</a></li>
          <li><a href="#section3">Product</a></li>
          <li><a href="#section4">Register</a></li>
          <li>&nbsp;</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-heart-o fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar ends here -->
  <section class="container-fluid" id="section1">
    <div class="v-center">
      <h1 class="text-center">Launch Veridol</h1>
      <h2 class="text-center lato animate slideInDown">*384*21#
      <br><br>Send Batch Number</h2>
      <br>
      <p class="text-center">
        <br>
        <a href="#" class="btn btn-blue btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Register for Free</a>
      </p>
    </div>
    <a href="#section2">
      <div class="scroll-down bounceInDown animated">
        <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
      </div>
    </a>
  </section>
  <section class="container-fluid" id="section2">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="panel panel-default slideInLeft animate">
                <div class="panel-heading">
                  <h3>Accessible</h3></div>
                <div class="panel-body">
                  <p>Without the need for data bundles and running on any platform on any form, vwith veridol you can verify any medicine anywhere.</p>
                  <hr>GO
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="panel panel-default slideInUp animate">
                <div class="panel-heading">
                  <h3>Trusted</h3></div>
                <div class="panel-body">
                  <p>Every manufacturer who places their product on this platform stakes their reputation on the quality of their products.</p>
                  <hr>GO
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="panel panel-default slideInRight animate">
                <div class="panel-heading">
                  <h3>Instant</h3></div>
                <div class="panel-body">
                  <p>Get your results instantly with our app. No need to wait for confirmation.</p>
                  <hr>GO
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
      <div class="row">
        <br>
      </div>
    </div>
    <!--/container-->
  </section>
  <section id="section2.5">
    <div class="container-fluid v-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Login Here:</h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <div class="row form-group">
              <div class="col-sm-11">
                <input type="text" class="form-control" id="username" name="userName" placeholder="User Name" required="">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-11">
                <input type="password" class="form-control" name="password" placeholder="Password" required="">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-11">
                <button class="btn btn-default btn-lg pull-right">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid" id="section3">
    <h1 class="text-center"><emp>Verify </emp>your medication.</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3 class="text-center lato slideInUp animate">The <strong>Truth</strong> about G.E.N.U.I.N.E.</h3>
        <br>
        <div class="row">
          <div class="col-xs-offset-1">
            <p class="lead text-center">The industry of pharmaceuticals is a multi-billion dollar profit industry. The research of the scientists who make up this industry has offered many solutions and has helped improve the quality of billions of lives. The fact that a lot of the pharmaceutical products are ingested, or to put it another way, they are applied to the human body, makes the upsurge of counterfeit drugs such a great threat to human lives. Furthermore, checking a medicine for genuineness is not something easily achievable at a users level - as it needs complex analysis with a suitably equipped laboratory.</p>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-12 text-right">With veridol one can check the authenticity of drugs just by dialing *384*65# and sending the batch number on the box. No need to download any app, no data charges, heck no need for a smartphone either. It is just that simple.</div>
        </div>
        <br>
      </div>
    </div>
  </section>
  <section id="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Register Here:</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="row form-group">
            <div class="col-sm-8">
              <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required="">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-8">
              <input type="email" class="form-control" name="email" placeholder="Email" required="">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-8">
              <input type="password" class="form-control" name="password" placeholder="Password" required="">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-11">
              <button class="btn btn-default btn-lg pull-right">Register</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well well-sm pull-right">
            <address>
              <strong>Andela Kenya</strong>
              <br> 525 Kindaruma Rd,
              <br> Kilimani, NAIROBI
            </address>
            <address>
              <strong>Email Us</strong>
              <br>
              <a href="mailto:#">info@andela.com</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid" id="section6">
    <ul class="row list-unstyled">
      <li class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <h3 class="text-center"><._Br/eak._> Poverty Hackathon 2015</h3>
      </li>
      <li class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1 text-center">
        <a href="" class="center-block btn btn-default btn-lg btn-huge lato animate slideInRight">Let's go again!</a>
      </li>
    </ul>
  </section>
  <section class="container-fluid" id="section7">
    <div class="row">
      <!--fontawesome icons-->
      <div class="col-sm-1 col-sm-offset-3 col-xs-4 text-center">
        <i class="fa fa-github fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-foursquare fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-pinterest fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-google-plus fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-twitter fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-dribbble fa-4x"></i>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 column">
          <h4>Information</h4>
          <ul class="nav">
            <li><a href="about-us.html">Products</a></li>
            <li><a href="about-us.html">Services</a></li>
            <li><a href="about-us.html">Benefits</a></li>
            <li><a href="elements.html">Developers</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3 column">
          <h4>Follow Us</h4>
          <ul class="nav">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3 column">
          <h4>Contact Us</h4>
          <ul class="nav">
            <li><a href="#">Email</a></li>
            <li><a href="#">Headquarters</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3 column">
          <h4>Customer Service</h4>
          <ul class="nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
      <!--/row-->
      <p class="text-right">©2015</p>
    </div>
  </footer>
  <div class="scroll-up">
    <a href="#"><i class="fa fa-angle-up"></i></a>
  </div>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="//placehold.it/110" class="img-circle"><br>Login</h2>
        </div>
        <div class="modal-body row">
          <h6 class="text-center">COMPLETE THESE FIELDS TO SIGN UP</h6>
          <form class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <h6 class="text-center"><a href="">Privacy is important to us. Click here to read why.</a></h6>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
