<!DOCTYPE html>
<html>

<head>
  <title>Login/Register</title>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="../scripts/login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
  @extends('index') @section('content')
  <!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Login</div>
          <div class="panel-body">
            <div class="card card-container">
              <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
              <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
              <p id="profile-name" class="profile-name-card"></p>
              @if (count($errors) > 0)
              <div class="alert alert-danger">
                <strong>Whoops!</strong> There were some problems with your input.
                <br>
                <br>
                <ul>
                  @foreach ($errors->all() as $error)
                  <li>{{ $error }}</li>
                  @endforeach
                </ul>
              </div>
              @endif
              <form class="form-signin form-horizontal" role="form" method="POST" action="{{ url('/auth/login') }}">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <div class="form-group">
                  <label class="col-md-4 control-label">E-Mail Address</label>
                  <div class="col-md-6">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email" value="{{ old('email') }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Password</label>
                  <div class="col-md-6">
                    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-4">
                    <div class="checkbox" id="remember">
                      <label>
                        <input type="checkbox" name="remember"> Remember Me
                      </label>
                    </div>
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-link forgot-password" href="{{ url('/password/email') }}">Forgot Your Password?</a>
                  </div>
                </div>
              </form>
              <!-- /form -->
            </div>
            <!-- /card-container -->
          </div>
        </div>
        <!-- /container -->
        <div class="container">
          <div class="row">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  @endsection
  </div>
</body>

</html>
